---
layout: /layout.njk
pagination:
  data: collections.galleries
  size: 1
  alias: gallery
permalink: "photos/{{ gallery.slug }}/index.html"
---

<h2>{{ gallery.name }}</h2>

<div class="gallery-grid">
  {% for img in gallery.images %}
    <a href="{{ img.url }}" target="_blank">
      <img
        src="{{ img.url }}"
        alt="{{ gallery.name }}"
        loading="lazy"
        decoding="async"
      >
    </a>
  {% endfor %}
</div>

