---
layout: /layout.njk
title: Photo Galleries
---


<section class="photo-galleries">
  <h2>Photo Galleries</h2>

  <div class="gallery-tiles">
    {% for gallery in collections.galleries %}
      {% set cover = gallery.images | random %}

      <a href="/photos/{{ gallery.slug }}/" class="gallery-card">
        <div
          class="gallery-image"
          style="background-image: url('{{ cover.url }}')"
        ></div>

        <div class="gallery-meta">
          <h3>{{ gallery.name }}</h3>
          <span>{{ gallery.images | length }} photos</span>
        </div>
      </a>
    {% endfor %}
  </div>
</section>

