---
layout: /layout.njk
title: Evan Lewis
---

<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>About</h2>
      <p></p>
    </div>

    <div class="row">
        <h3>Application Security Specialist &amp; Software Developer.</h3>
        <p class="fst-italic">
          Breaker of things
        </p>
        <p> Evan Lewis is a Security Engineering Manager with extensive experience in application security and protecting digital systems from evolving cyber threats. </p>
        <p> With a strong background in secure software development, cloud security, and penetration testing, Evan focuses on designing resilient systems, building high-performing security teams, and guiding organizations in implementing effective security strategies. </p> 
        <p> Passionate about staying ahead of emerging risks, Evan combines technical expertise with clear communication and collaborative leadership, helping teams across engineering, subsidiaries, and leadership make informed security decisions while safeguarding sensitive data and maintaining the integrity of complex software and cloud environments. </p>
    </div>
  </div>
</section>

<section id="projects">
  <div class="container">
    <h2>Projects</h2>
    <ul>                
      <li><a href="/projects/hd.html">1990's Hard Drive Revival</a></li>
      <li><a href="/projects/website.html">Creating This Website</a></li>
      <li><a href="/projects/sketchy-link.html">Sketchy URL Lengthener</a></li>
      <li><a href="/projects/tinythings.html">Tiny Things</a></li>
    </ul>
  </div>
</section>

<section id="resume" class="resume">
  <div class="container">
    <h2 class="resume-title">Professional Experience</h2>
    <div class="row">
      <div class="col-lg-12">
        <div class="resume-item">
          <h4>Security Engineering Manager</h4>
          <h5>December 2025 - Present</h5>
          <p><em>Old Republic International</em></p>
          <ul>
            <li>Expand and operationalize prior initiatives across all subsidiaries, creating alignment and consistency</li>
            <li>Establish a standardized approach for assessing and presenting application risk at the board level, aligning security posture with enterprise risk management</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Application and Cloud Security Manager</h4>
          <h5>March 2025 - December 2025</h5>
          <p><em>Old Republic Title</em></p>
          <ul>
            <li>Oversee and coordinate end-to-end application security activities, including threat modeling, secure architecture design reviews, and internal penetration testing across business-critical systems.</li>
            <li>Lead the planning and execution of external penetration tests and ensure timely remediation across all regulated applications.</li>
            <li>Establish application and cloud security standards, governance models, and measurable KPIs to continuously mature the organization’s security program.</li>
            <li>Serve as a primary liaison between security, engineering, compliance, and leadership stakeholders to align risk management strategies with business priorities.</li>
            <li>Drive secure DevOps practices by scaling automated security controls in CI/CD pipelines and establishing cloud-native security tooling.</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Lead Application Security Engineer</h4>
          <h5>October 2024 - March 2025</h5>
          <p><em>Old Republic Title</em></p>
          <ul>
            <li>Directed internal penetration testing, manual code reviews, and vulnerability assessments across high-impact applications, identifying and mitigating critical security risks.</li>
            <li>Provided technical leadership in application threat modeling and design reviews, ensuring alignment with secure architecture principles.</li>
            <li>Contributed to maturing the organization’s AppSec roadmap by recommending tooling improvements, process enhancements, and training initiatives.</li>
            <li>Mentored junior engineers and provided expert guidance on secure coding, vulnerability triage, and risk remediation strategies.</li>
            <li>Launched a Security Champions Program to scale secure development practices by empowering developers with security training, tooling, and ongoing mentorship.</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Application Security Engineer</h4>
          <h5>June 2022 - October 2024</h5>
          <p><em>Old Republic Title</em></p>
          <ul>
            <li>Conduct internal penetration testing, vulnerability assessments, and manual code reviews on business-critical company applications</li>
            <li>Perform application and system design security reviews and threat modeling</li>
            <li>Developed containerized, cloud-based antivirus as a service platform for use by various company-developed applications</li>
            <li>Consult with development teams to prioritize threats and determine mitigation strategies</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Application Security Analyst</h4>
          <h5>December 2021 - June 2022</h5>
          <p><em>Old Republic Title</em></p>
          <ul>
            <li>Determined company needs, demoed, and purchased DAST and SAST scanning solutions</li>
            <li>Developed automated controls in CI/CD to prevent vulnerabilities from being introduced</li>
            <li>Orchestrated yearly external penetration testing and vulnerability remediation on nine SOX/SOC2 regulated applications</li>
            <li>Provided security guidance and recommendations to development teams to ensure secure coding practices.</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Software Engineer</h4>
          <h5>May 2020 - December 2021</h5>
          <p><em>Bank of America</em></p>
          <ul>
            <li>Developed frameworks to generate and validate positions in fixed income trading portfolios valued at over $100 billion</li>
            <li>Maintained high standard of security protocols to protect non-public material information</li>
            <li>Designed and built distributed batch processes to generate metrics on Fixed Income, Currencies, and Commodities holdings</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="download"></br></br>
    <i class="bi bi-file-text"></i>
    <h4><a href="/Lewis_Evan.pdf">Download Resume</button></a></h4>
  </div>
</section>
<section id="certs" class="resume">
  <div class="container">
      <div class="section-title">
          <h2>Certifications</h2>
      </div>
      <div>
          <div class="resume-item">
              <h4>GIAC Certified Penetration Tester (GPEN)</h4>
              <h5>2023</h5>
              <p><em>GIAC</em></p>
              <p><a href="https://www.credly.com/badges/562a281c-2609-4886-b2f2-fe93066e3f11">View credential</a></p>
              <p>The GIAC Penetration Tester (GPEN) certification validates a practitioner's ability to properly conduct a penetration test using best-practice techniques and methodologies. GPEN certification holders have the knowledge and skills to conduct exploits, engage in detailed environmental reconnaissance, and utilize a process-oriented approach to penetration testing projects.</a></p>
          </div>
          <div class="resume-item">
              <h4>GIAC Certified Incident Handler (GCIH)</h4>
              <h5>2022</h5>
              <p><em>GIAC</em></p>
              <p><a href="https://www.credly.com/badges/f9034f49-9470-4405-bac0-9ea279e09e92">View credential</a></p>
              <p>The GIAC Incident Handler (GCIH) certification validates a practitioner's ability to detect, respond, and resolve computer security incidents using a wide range of essential security skills. GCIH certification holders have the knowledge needed to manage security incidents by understanding common attack techniques, vectors and tools, as well as defend against and respond to such attacks when they occur.</a></p>
          </div>
          <div class="resume-item">
              <h4>GIAC Advisory Board Member</h4>
              <h5>2022</h5>
              <p><em>GIAC</em></p>
              <p><a href="https://www.credly.com/badges/e9974fb9-4408-48c6-8e2f-dea32a212437">View credential</a></p>
              <p>The GIAC Advisory Board is an invitation only, email-based forum where IT Security professionals can exchange ideas and advice. Invitations are extended to GIAC certified professionals who demonstrate exemplary performance on GIAC exams. Members are often consulted as subject-matter experts for content-related issues in various GIAC program needs.</a></p>
          </div>
      </div>
  </div>
</section>
<section id="education" class="resume">
  <div class="container">
      <div class="section-title">
          <h2>Education</h2>
      </div>
      <div>
          <div class="resume-item">
              <h4>Bachelor of Science with Honor in Computer Science</h4>
              <h5>2016 - 2020</h5>
              <p><em>Stevens Institute of Technology, Hoboken, NJ</em></p>
              <p>GPA: 3.3</p>
              <p><a href="https://cediploma.stevens.edu/validation/">View diploma</a></p>
              <p>Credential ID CeDiD: 20BLAQR9EFSY and Name: EV</p>
          </div>
      </div>
  </div>
</section>

